@charset "UTF-8";
.l-header__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 40px auto 38px;
  color: #707070;
}

.l-header {
  background-color: #FFF7EF;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.l-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.l-header__container {
  overflow-y: hidden;
  width: 100%;
}

.l-header__container::after {
  content: "";
  display: block;
}

.active::before {
  content: "";
  display: block;
  padding-top: 200vh;
}

.l-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-main__img {
  display: none;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 375px) {
  .l-main__img {
    display: block;
  }
}

.l-main__img-sp {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 375px) {
  .l-main__img-sp {
    display: none;
  }
}

.c-main__subtitle {
  position: absolute;
}

.l-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -2000px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (min-width: 834px) {
  .l-sidebar {
    display: block;
    position: static;
    width: auto;
    height: auto;
    -webkit-transition: none;
    transition: none;
  }
}

.l-sidebar__container {
  background-color: #F2EDE9;
  width: 328px;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (min-width: 834px) {
  .l-sidebar__container {
    width: 19.1vw;
  }
}

.l-sidebar__title {
  position: relative;
  top: 82px;
  left: 46px;
  color: #707070;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2.125rem;
  width: 100px;
  margin: 0%;
  height: 50px;
}

@media screen and (min-width: 834px) {
  .l-sidebar__title {
    top: 4.27vw;
  }
}

.l-sidebar li {
  list-style: none;
  color: #707070;
  font-family: "M+ 1m";
  font-weight: bold;
  font-size: 1.5rem;
}

.l-sidebar a {
  text-decoration: none;
  color: #707070;
  font-family: "M PLUS 1p";
  font-size: 1.25rem;
  font-weight: normal;
}

@media screen and (min-width: 375px) {
  .l-sidebar a {
    font-size: calc(0.52vw + 0.625rem);
  }
}

.l-sidebar__list {
  position: absolute;
  top: 212px;
  padding-left: 46px;
}

@media screen and (min-width: 834px) {
  .l-sidebar__list {
    padding-left: 2.4vw;
    top: 11.04vw;
  }
}

.l-sidebar__menu p {
  margin-bottom: 40px;
}

.l-sidebar__menu-list {
  padding-left: 20px;
}

.l-sidebar__menu-item {
  padding-bottom: 23px;
}

.l-footer {
  height: 150px;
  background-color: #9D8670;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.l-footer__text {
  color: #FFF;
  font-family: "M+ 1m";
  font-size: 1.25rem;
}

.l-footer__copyright {
  color: #FFF;
  font-family: "M+ 1m";
  font-size: 0.875rem;
}

.c-header__menu {
  display: block;
  position: absolute;
  top: 18px;
  right: 24px;
  color: #707070;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
}

@media screen and (min-width: 834px) {
  .c-header__menu {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  .c-header__menu {
    font-size: 4.3vw;
  }
}

.c-search {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-search__btn {
  font-size: 1rem;
  font-family: "M+ 1m";
  color: #707070;
  background-color: #F2EDE9;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 78px;
  height: 46px;
  margin-left: 14px;
}

.c-search__btn, .c-search__text {
  border-color: #707070;
  border-radius: 10px;
}

.c-search__text {
  font-family: FontAwesome;
  font-size: 1.5rem;
  color: #808080;
  width: 47vw;
  min-width: 230px;
  height: 40px;
}

@media screen and (min-width: 834px) {
  .c-search__text {
    width: 396px;
  }
}

.c-search__text:active {
  color: #FFF;
}

.c-main__subtitle {
  margin: 0 25px;
  color: #FFF;
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 2.25rem;
}

.c-service {
  position: relative;
  margin: 20px;
}

@media screen and (min-width: 375px) {
  .c-service {
    width: 41vw;
    margin: 0;
  }
}

@media screen and (min-width: 834px) {
  .c-service {
    width: 32.6vw;
  }
}

.c-service img {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .c-service__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 834px) {
  .c-service__wrapper {
    margin: 4.8vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-service__title {
  font-family: "Roboto";
  font-size: 2.5625rem;
  font-weight: bold;
  color: #FFF;
  position: absolute;
  height: 54px;
  margin: 0;
  top: 31px;
  left: 30px;
}

@media screen and (min-width: 375px) {
  .c-service__title {
    font-size: calc(1.875rem + 14 * (100vw - 375px)/460);
    top: 2vw;
    left: 1.8vw;
  }
}

@media screen and (min-width: 375px) {
  .c-service__title {
    height: 5.5vw;
    top: 1.3vw;
    left: 1.3vw;
  }
}

.c-service__bar {
  border-top: 4px solid;
  border-bottom: 0;
  border-color: #FFF;
  width: 9vw;
  margin: 0;
  position: absolute;
  top: 97.3px;
  left: 32.5px;
}

@media screen and (min-width: 375px) {
  .c-service__bar {
    top: 11vw;
    left: 1.8vw;
  }
}

@media screen and (min-width: 834px) {
  .c-service__bar {
    top: 8.3vw;
    left: 1.3vw;
  }
}

.c-service__inner {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .c-service__inner {
    bottom: 2vw;
  }
}

@media screen and (min-width: 834px) {
  .c-service__inner {
    bottom: 1.05vw;
  }
}

.c-service__container {
  background-color: #FFF;
  opacity: .8;
  width: 80vw;
  height: 43vw;
  margin: 0 auto;
  margin-top: 10px;
}

@media screen and (min-width: 375px) {
  .c-service__container {
    height: 21vw;
    width: 38.5vw;
  }
}

@media screen and (min-width: 834px) {
  .c-service__container {
    width: 30.5vw;
    height: 174px;
  }
}

.c-service__title__small {
  font-size: 1.375rem;
  font-family: "M PLUS 1p";
  font-weight: bold;
  color: #3C2A10;
  padding: 19px 10px;
  margin: 0;
}

@media screen and (min-width: 375px) {
  .c-service__title__small {
    font-size: 2.88vw;
    padding: 2.3vw;
  }
}

@media screen and (min-width: 834px) {
  .c-service__title__small {
    font-size: 1.5rem;
    padding: 0.9vw;
  }
}

.c-service__text {
  font-family: "M PLUS 1p";
  font-size: 1rem;
  color: #3C2A10;
  margin: 0 14px 23px 10px;
  overflow: hidden;
  height: 19vw;
}

@media screen and (min-width: 375px) {
  .c-service__text {
    height: 9.1vw;
    font-size: 1.92vw;
  }
}

@media screen and (min-width: 834px) {
  .c-service__text {
    font-size: 1rem;
    padding: 0.9vw;
    margin: 0;
  }
}

.c-map {
  position: relative;
  background-color: #000;
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .c-map {
    height: auto;
  }
}

.c-map img {
  opacity: .6;
}

.c-map__img-sp {
  display: block;
}

@media screen and (min-width: 375px) {
  .c-map__img-sp {
    display: none;
    width: 100%;
  }
}

.c-map__img-tab {
  display: none;
}

@media screen and (min-width: 375px) {
  .c-map__img-tab {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 834px) {
  .c-map__img-tab {
    display: none;
  }
}

.c-map__img {
  display: none;
}

@media screen and (min-width: 834px) {
  .c-map__img {
    display: block;
    width: 100%;
  }
}

.c-map__comment {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.29);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 834px) {
  .c-map__comment {
    width: 49.5vw;
    height: 100%;
  }
}

.c-map__comment--wrapper {
  margin-top: 40px;
  margin-left: 42px;
}

@media screen and (min-width: 375px) {
  .c-map__comment--wrapper {
    margin-left: 5vw;
    margin-top: 4.8vw;
  }
}

@media screen and (min-width: 834px) {
  .c-map__comment--wrapper {
    margin-top: 4.32vw;
    margin-left: 6.2vw;
    margin-right: 7vw;
  }
}

.c-map__title {
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 1.875rem;
  color: #FFF;
  margin-bottom: 20px;
}

@media screen and (min-width: 375px) {
  .c-map__title {
    font-size: calc(1rem + 1.7vw);
    margin-bottom: 5.35vw;
  }
}

@media screen and (min-width: 834px) {
  .c-map__title {
    font-size: calc(1.5rem + 0.63vw);
    margin-bottom: 2.9vw;
  }
}

.c-map__text {
  font-family: "M+ m1";
  font-weight: bold;
  font-size: 0.875rem;
  color: #FFF;
  line-height: 33px;
  height: 138vw;
  width: 78vw;
  padding-top: 20px;
  margin: 0;
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .c-map__text {
    height: 100%;
    width: 88vw;
    padding-top: 5.35vw;
  }
}

@media screen and (min-width: 834px) {
  .c-map__text {
    width: 100%;
    height: 18.54vw;
    padding-top: 3.31vw;
    font-size: 1rem;
  }
}

.c-map__bar {
  width: 73px;
  margin: 0;
}

.p-sidebar__btn {
  display: block;
  border-style: none;
  outline: none;
  padding: 0;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

@media screen and (min-width: 375px) {
  .p-sidebar__btn {
    display: none;
  }
}

.p-sidebar__btn span {
  display: block;
  width: 32px;
  /*枠の大きさ*/
  height: 32px;
  /*枠の大きさ*/
  position: relative;
}

.p-sidebar__btn span::before, .p-sidebar__btn span::after {
  content: "";
  display: block;
  width: 100%;
  /*バツ線の長さ*/
  height: 5px;
  /*バツ線の太さ*/
  background: #707070;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  position: absolute;
  top: calc(14% - 5px);
  left: 16%;
}

.p-sidebar__btn span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  left: auto;
  right: 14%;
}
/*# sourceMappingURL=style.css.map */