.l-footer {
    height: 150px;
    background-color: $footer-color;
    display:  flex;
    flex-flow:  column;
    justify-content:  center;
    align-items:  center;
    width:  100%;
    
    &__text  {
        color: $fontC-white;
        font-family:  "M+ 1m";
        font-size:  1.25rem;
    }
    &__copyright {
        color:  $fontC-white;
        font-family:  "M+ 1m";
        font-size:  0.875rem;
    }
}