.l-header__title {
    font-family:  "Roboto", sans-serif;
    font-weight:  bold;
    font-size: 2.5rem;
    margin:  40px auto 38px; 
    color: $fontC-main;
}
.l-header {
    background-color:  $header-color;
    height:  217px;
    display:  flex;
    flex-direction:  column;
    position:  relative;

    &__wrapper {
        display:  flex;
        position: relative;
        overflow:  hidden;
       
    }

    &__container {
        overflow-y:  hidden;
        width:  100%;
        &::after {
            content:  "";
            display: block;
        }
    }

    
}
.active::before {
    content:  "";
    display:  block;
    padding-top: 200vh;
     
}