.l-main {
    display: flex;
    align-items:  center;

    &__img {
        display: none;
        width:  100%;
        position:  relative;
        @include mq(tab){
            display:  block;
        } 
    }
    &__img-sp {
        width:  100%;
        position:  relative;
        @include mq(tab){
            display:  none;
        }
    }
}
.c-main__subtitle {
    position:  absolute;
    
}