.l-main {
    display: flex;
    max-width:  100%;
    max-height:  100%;
    align-items:  center;
    margin-bottom:  120px;
    img {
        width:  100%;
        position:  relative;
        
    }
}
.c-main__subtitle {
    position:  absolute;
    
}