.l-sidebar {
    display:  flex;
    width: 100%;
    justify-content:  flex-end;
    height:  100%;
    background-color:  rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    right: -2000px;
    transition:  all .3s;
    @include mq(pc) {
        display:  block;
        position: static;
        width:  auto;
        height:  auto;
        transition: none;
    }

    &__container{
        background-color:  $side-color;
        width:  328px;
        height:  100%;
        margin: 0;
        display:  flex;
        position: relative;
        @include mq(pc) {
            width: 19.1vw;
        }
    }
    &__title {
        position:  relative;
        top:  82px;
        left:  46px;
        color: $fontC-main;
        font-family:  "Roboto";
        font-weight:  bold;
        font-size:  2.125rem;
        width:  100px;
        margin: 0%;
        height: 50px;
        @include mq(pc){
            top:  4.27vw;
        }
    }
    li {
        list-style:  none;
        color: $fontC-main;
        font-family:  "M+ 1m";
        font-weight:  bold;
        font-size:  1.5rem;
        
    }
    a {
        text-decoration:  none;
        color: $fontC-main;
        font-family:  "M PLUS 1p";
        font-size:  1.25rem;
        font-weight:  normal;
        @include mq(tab) {
            font-size: calc(0.52vw + 0.625rem);
            
         }
    }
    &__list {
        position: absolute;
        top:  212px;
        padding-left: 46px;
        @include mq(pc) {
            padding-left:  2.4vw;
            top:  11.04vw;

        }
    
    }
    &__menu p {
        margin-bottom:  40px;
    }
    &__menu-list {
        padding-left:  20px;
        
    }
    &__menu-item {
        padding-bottom: 23px;
    }

}