.c-header__menu {
    display:  block;
    position:  absolute;
    top:  18px;
    right:  24px;
    color: $fontC-main;
    font-family:  "Roboto";
    font-weight:  bold;
    font-size:  1.25rem;
    text-decoration:  none;
    @include mq(pc) {
        display:  none;
    }
    @include mq(tab) {
        font-size: 4.3vw;
    }
}