.c-header__menu {
    position:  absolute;
    top:  18px;
    right:  24px;
    color: $fontC-main;
    font-family:  "Roboto";
    font-weight:  bold;
    font-size:  34px;
    text-decoration:  none;
    display:  none;
}