.c-map {
    position: relative;
    background-color:  #000;
    height:  calc(45vw * 0.75);
    min-height:  415px;


    img {
        opacity: .6;
        width:  100%;
        height:  100%;
        margin:  0;
    }

    &__comment {
        position: absolute;
        top: 0;
        left:  0;
        background-color: rgba(0, 0, 0, .29);
        width:  61%;
        height:  100%;
        &--wrapper {
            margin-top :  40px ;
            margin-left:  42px;
        }
    }
    &__title {
        font-family:  "M+ m1";
        font-weight:  bold;
        font-size:  36px;
        color:  $fontC-white;
        margin-top:  63px;
        margin-bottom:  35.5px;
        padding:  20px 0;
    }
    &__text {
        font-family:  "M+ m1";
        font-weight:  bold;
        font-size:  16px;
        color:  $fontC-white;
        line-height:  33px;
        height:  100%;
        width:  97%;
        padding-top: 20px;
        margin-top:  43.5px;
        

    }
    

}